// variables
$primary-color: #3498db;
$font-stack: Helvetica, sans-serif;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }
}