@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin div-container($prim-color) {
    border: 1px solid $prim-color;
    margin-top: 10px;
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }

    div {
        margin: 10px;
        padding: 10px;
        border: 1px solid blue;
        height: 200px;
        width: 200px;

        @media (max-width: 767px) {
            width: 90%;
        }
    }
}